<body>

<!-- <nav class="navbar navbar-dark bg-primary  fixed-top">
<div class="container">
  <div class="row">

    <div class= "col-sm float-right">
        <a  class="btn btn-primary cl-text-white float-right active">Login</a>
    </div>
    <div class= "col-sm">
        <a [routerLink]="['/register']" class="btn btn-primary cl-text-black float-right active">Register</a>
    </div>
  </div>
</div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/register']">Sign up <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Zipcode" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchByZipcode()">Search</button>-->
    <!--</form>-->
  </div>
</nav>




<div class= "beautiful-font text-center cl-padding-top" >
  Welcome All Food lovers !
</div>



<div class="container cl-container-padding">

  <form (ngSubmit) = "searchByZipcode()" #f="ngForm">
    <input type="text"
           name="zipcode"
           class="form-control"
           placeholder="zipcode"
           ngModel
           required
           #zipcode="ngModel"/>
    <span class="help-block" *ngIf="!zipcode.valid && zipcode.touched"></span>

    <button class="btn btn-success btn-block"
            type="submit"
            [disabled]="!f.valid">Search restaurant by zipCode</button>
  </form>

</div>

<div class="container cl-padding-top">
  <div class="row">
    <div class="col font-text">
      For Diners
      <ul class = "font-text-ul">
        <li>Find the restaurant near by</li>
        <li>Find the address of your favorite restaurants</li>
        <li>Check reviews of restaurants</li>
      </ul>
    </div>
    <div class="col font-text">
      For Restaurant Owners
      <ul class = "font-text-ul">
        <li>Let more people enjoy the food from your restaurant</li>
        <li>Show your restaurant with special design</li>
      </ul>

    </div>
  </div>
</div>


</body>
