<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->

<!--</div>-->
<!--<h2>My project for CS5610 &#45;&#45;&#45;&#45; Nan Liu  </h2>-->

<!--&lt;!&ndash;<p appChangByColor [changeByColor]="color">Hello World</p>&ndash;&gt;-->


<!--<ul><a routerLink="/login">Login</a>-->
  <!--<a routerLink="/register">Register</a>-->
  <!--<a routerLink="profile">Profile</a></ul>-->
<router-outlet></router-outlet>
